* {
    margin: 0;
    padding: 0;

}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
}

*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

form * {
    transition: none !important;
}

.row {
    margin: 0;
    padding: 0;
}

#header {
    background-image: url(../img/header.jpg);
    position: relative;

}

#header>* {
    z-index: 1;
    position: relative;
}

#header::after {
    content: "";
    background-color: rgb(56 56 56 / 63%);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    z-index: 0;
}

#header {
    display: block;
}

#top-header {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;

}

#top-header .item p {
    color: #ddd;
    font-size: 12px;
}

#top-header .icon {
    text-align: end;
    padding-right: 40px;
}

#top-header .fas {
    color: #fbab18;
    padding: 0px 4px;
    font-size: 12px;
}

/* Mid header */
#mid-header {
    margin-top: 20px;
    z-index: 2;
}

/* Logo */
.logo img {
    display: flex;
    width: 100px;
    margin: 0px 0px 0px 50px;
}

/* Navbar */

#nav .navbar {
    margin-left: 175px;
}

#nav .dropdown-menu {
    background: #f9f9f9d1;
}

#nav .dropdown-menu .dropdown-item:hover {
    background: #28A745;
}


/* Slider */

#slider {
    min-height: 630px;
}

#slider .carousel-indicators {
    bottom: -63px;
}

#slider h2 {
    text-align: center;
    font-size: 53px;
    color: #fff;
    margin-top: 60px;
}

#slider p {
    text-align: center;
    max-width: 44%;
    line-height: 2rem;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
}

#slider .button {
    text-align: center;
    margin-top: 30px;
    margin-top: 80px;
}

#slider .button .btn-1 {
    background-color: #28a74600;
}

#slider .button .btn-1:hover {
    background-color: #28a745;
}

#slider .button .btn-2 {

    background-color: #28a745;
}

#slider .button .btn-2:hover {
    background-color: #28a74600;
}

/* New show bar run here */

#show-bar {}

#show-bar .card {
    width: 80%;
    margin: auto;
    position: absolute;
    top: -125px;
}

#show-bar .card {
    position: relative;
    z-index: 3;
}

#show-bar .card .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#show-bar .card:hover .image {
    opacity: .3;

}

#show-bar .card .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#show-bar .card:hover .middle {
    opacity: 1;
}

/* Meet Bar */

#meet-bar {
    border-top: 1px solid rgb(112, 112, 112);
}

#meet-bar .head-bar {
    margin-top: 95px;
    padding-bottom: 55px;
}

#meet-bar .head-bar p {
    font-size: 15px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;

}

#meet-bar .head-bar h2 {
    font-size: 35px;
    color: #797979;
    text-align: center;
    margin: 16px 0px;
    display: inline-block;
    position: relative;
}

#meet-bar .head-bar h2::after {
    left: 50%;
    margin-left: -24%;
    background-color: #FA8D0A;
    display: block;
    position: absolute;
    bottom: -11px;
    width: 47%;
    height: 5px;
    border-radius: 3px;
    content: "";
}

#meet-bar .card {
    background: #a8f3b878;
}

#meet-bar .card:hover {
    background: #28a74600;
}

#meet-bar .card h4 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#meet-bar .button .btn {
    margin-bottom: 100px;
}

/* Summary */
#summary>* {
    z-index: 1;
    position: relative;
}

#summary {
    background-image: url(../img/pexels-expect-best-323780.jpg);
    position: relative;
    z-index: 10;
}

#summary::after {
    content: "";
    background-color: rgb(56 56 56 / 88%);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    z-index: 0;
}

#summary .container {
    margin: 12px 100px;
}

#summary .container p {
    color: #ddd;
    font-size: 15px;
}

#summary .container .block-1 {
    margin: 64px 0px;
    position: relative;
}

#summary .container .block-1::after {
    content: '';
    width: 20%;
    height: 10%;
    position: absolute;
    background-color: #28a745;
}

#summary .container .block-1 h2 {
    color: #ddd;
    font-size: 30px;
    line-height: 50px;
}

#summary .container .block-2 h2 {
    color: rgb(21, 21, 21);
    font-size: 30px;
    line-height: 50px;
}

#summary .container .block-2 {
    margin-bottom: 125px;
}

#summary .container .block-2 .col1 {
    background-color: #ddd;
    border-radius: 7px;
    opacity: .8;
    padding: 34px;
    height: 260px;
}

#summary .container .block-2 .col1:hover {
    opacity: 1;
}

#summary .container .block-2 p {
    color: rgb(21, 21, 21);
    font-size: 15px;
    margin-bottom: 25px;
}

/* Meet bar-2 */
#meet-bar-2 {
    background-color: #dadada99;
    margin-top: -40px;
    padding-bottom: 17px;
}

#meet-bar-2 .head-bar {
    margin-top: 95px;
    padding-bottom: 55px;
}

#meet-bar-2 .head-bar p {
    font-size: 15px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    margin-top: 51px;
}

#meet-bar-2 .head-bar h2 {
    font-size: 35px;
    color: #797979;
    text-align: center;
    margin: 16px 0px;
    display: inline-block;
    position: relative;
}

#meet-bar-2 .head-bar h2::after {
    left: 50%;
    margin-left: -24%;
    background-color: #FA8D0A;
    display: block;
    position: absolute;
    bottom: -11px;
    width: 47%;
    height: 5px;
    border-radius: 3px;
    content: "";
}

#meet-bar-2 .row {
    margin: 40px 0;
}

#meet-bar-2 .card-body {
    background-color: #28a745;
}

#meet-bar-2 .card p {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


#meet-bar-2 .card {
    position: relative;
    z-index: 3;
}

#meet-bar-2 .card .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#meet-bar-2 .card:hover .image {
    opacity: .3;

}

#meet-bar-2 .card .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#meet-bar-2 .card:hover .middle {
    opacity: 1;
}

/* meet-bar-3 */
#meet-bar-3 {
    margin-top: 70px;
}

#meet-bar-3 .head-bar p {
    font-size: 15px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    margin-top: 51px;
}

#meet-bar-3 .head-bar h2 {
    font-size: 35px;
    color: #797979;
    text-align: center;
    margin: 16px 0px;
    display: inline-block;
    position: relative;
}

#meet-bar-3 .head-bar h2::after {
    left: 50%;
    margin-left: -24%;
    background-color: #FA8D0A;
    display: block;
    position: absolute;
    bottom: -11px;
    width: 47%;
    height: 5px;
    border-radius: 3px;
    content: "";
}

#meet-bar-3 .part-2 {
    margin-bottom: 165px;
}

#meet-bar-3 .part-2 .bar {
    top: 70px;
    border-right: 2px solid #ddd;
}

#meet-bar-3 .part-2 .fab {
    font-size: 90px;
    opacity: .7;
    transition: all .3s ease-in-out;
}

#meet-bar-3 .part-2 .fab:hover {
    opacity: 1;
}

#meet-bar-3 .part-2 .num {
    font-size: 51px;
    font-weight: bold;
    color: #28a745;
}

#meet-bar-3 .part-2 .text {
    font-size: 12px;
}

/* Summary 2 */

#summary-2 {
    background-image: url(../img/teen.jpg);
    background-repeat: no-repeat;
}

#summary-2 .container {
    margin: 12px 100px;
}

#summary-2 .container p {
    color: #ddd;
    font-size: 15px;
}

#summary-2 .container .block-1 {
    margin: 64px 0px;
    position: relative;
}

#summary-2 .container .block-1::after {
    content: '';
    width: 20%;
    height: 10%;
    position: absolute;
    background-color: #28a745;
}

#summary-2 .container .block-1 h2 {
    color: #ddd;
    font-size: 30px;
    line-height: 50px;
}

#summary-2 .container .block-2 h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 50px;
}

#summary-2 .container .block-2 {
    margin-bottom: 125px;
}

#summary-2 .container .block-2 .col1 {
    background-color: #47454a;
    border-radius: 7px;
    padding: 34px;
    height: 260px;
}

#summary-2 .container .block-2 p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-bottom: 25px;
}

#summary-2 .container .block-2 .btn-success {
    transition: width .9s ease-in-out;
}


/* Summary - 3 */


#summary-3 {
    margin-top: -40px;
    padding-bottom: 70px;
}

#summary-3 .head-bar {
    margin-top: 95px;
    padding-bottom: 55px;
}

#summary-3 .head-bar p {
    font-size: 15px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    margin-top: 51px;
}

#summary-3 .head-bar h2 {
    font-size: 35px;
    color: #797979;
    text-align: center;
    margin: 16px 0px;
    display: inline-block;
    position: relative;
}

#summary-3 .head-bar h2::after {
    left: 50%;
    margin-left: -24%;
    background-color: #FA8D0A;
    display: block;
    position: absolute;
    bottom: -11px;
    width: 47%;
    height: 5px;
    border-radius: 3px;
    content: "";
}

#summary-3 .row {
    margin: 40px 0;
}

#summary-3 .part-2 ul {
    background: #28a745;
}

#summary-3 .part-2 ul span {
    font-size: 13px;
}

#summary-3 .part-2 ul a {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#summary-3 .part-2 ul time {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#summary-3 .part-2 .card {
    position: relative;
    z-index: 3;

}

#summary-3 .part-2 .card img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#summary-3 .part-2 .card:hover img {
    opacity: .3;
}

#summary-3 .part-2 .card .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#summary-3 .part-2 .card:hover .middle {
    opacity: 1;
}



/*  */
#show-bar .card {
    position: relative;

}

#show-bar .card .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#show-bar .card:hover .image {
    opacity: .3;

}

#show-bar .card .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

#show-bar .card:hover .middle {
    opacity: 1;

}

/* Footer Section */

#footer {
    background-color: rgb(0, 0, 0);
}

#footer .part-1 {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #ddd;
}

#footer .part-1 h2 {
    font-size: 60px;
}

#footer .part-1 h2 {
    font-size: 60px;
    color: #ddd;
}

#footer .part-1 .fab {
    font-size: 30px;
    padding-right: 15px;
}

#footer .part-1 .fab:hover {
    color: rgb(0, 255, 55);
}

#footer .part-1 h3 {
    font-size: 15px;
    color: #ddd;
    padding-top: 35px;
    padding-bottom: 47px;
}

#footer .part-2 {
    margin: auto;
}

#footer .part-2 h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
}

#footer .part-2 p {
    font-size: 14px;
    color: #ddd;
}

#footer .part-2 .image img {
    width: 46%;
    padding: 2px;
}

#footer .part-2 a {
    color: #ddd;
    text-decoration: none;
}

#footer .part-3 {
    margin: auto;
}

#footer .part-3 p {
    text-align: center;
    font-size: 12px;
    color: #ddd;
}
#footer time {
    
    color: #ddd;
}

















/* Media Query */
@media screen and (max-width: 576px) {
    #header #mid-header .col-6 {
        max-width: 0;
    }

    .logo img {
        margin: 0px 0px 0px 212px;
    }

    #nav .navbar {
        margin-left: 20px;
    }

    #nav .navbar-toggler {
        margin: 1px 0px 0px -56px;
    }

    #top-header {
        display: table-footer-group;
    }

    #slider h2 {
        font-size: 34px;
    }

    #slider p {
        max-width: 100%;
    }

    #show-bar .col-md-4{
        margin-bottom: 30px;
    }

    #show-bar .part-3 {
        margin-bottom: 0px;
    }

    #meet-bar .head-bar {
        margin-top: 54px;
    }

    #meet-bar .col-md-4 {
        padding: 10px 0;
    }

    #meet-bar .button .btn {
        margin-bottom: 47px;
    }

    #summary .container {
        margin: 0px 0px;
    }

    #summary .container .block-2 .col1 {
        height: 280px;
    }

    #summary .container .block-2 h2 {
        line-height: 33px;
    }

    #summary .container .block-2 {
        margin-bottom: 81px;
    }

    #summary .container .block-2 a {
        margin-top: 16px;
        margin-left: 28%;
    }

    #meet-bar-2 .row {
        margin: 13px 0;
    }

    #meet-bar-2 .head-bar {
        padding-bottom: 24px;
    }

    #meet-bar-2 .col-md-4 {
        padding: 15px 0;
    }

    #meet-bar-3 {
        margin-top: 10px;
    }

    #meet-bar-3 .head-bar h2 {
        font-size: 27px;
    }

    #meet-bar-3 .part-2 .bar {
        top: 21px;
    }

    #meet-bar-3 .part-2 {
        margin-bottom: 88px;
    }

    #summary-2 .container {
        margin: 0px 0px;
    }

    #summary-2 .container .block-2 .col1 {
        border-radius: 7px;
        padding: 14px;
        height: 314px;
    }

    #summary-2 .container .block-1 {
        margin: 0px 0px;
    }
    #summary-2 .container p {
        margin-top: 47px;
    }
    #summary-2 .container .block-1 h2 {
        font-size: 23px;
        line-height: 52px;
    }
    #summary-2 .container .block-2 h2 {
        color: rgb(255, 255, 255);
        font-size: 22px;
        line-height: 35px;
    }

    #summary-3 .row {
        margin: 0px 0;
    }

    #summary-3 .part-2 .card  {
        margin-bottom: 30px;
    }
    #summary-3 {
        padding-bottom: 27px;
    }
    #footer .part-3{
        margin-top: 30px;
    }


    

}



/* @media screen and (min-width: 577px) {
    #header #mid-header .col-6{
        max-width: 0;
    }
    .logo img {
        margin: 0px 0px 0px 568px;
    }
    #nav .navbar {
        margin-left: 20px;
    }
    #nav .navbar-toggler {
        margin: 1px 0px 0px -56px;
    }
    
  } */
